{{ use('yii/widgets/ActiveForm') }}

{% block content %}

<h1>Add new player to {{ team }}</h1>

<a class="btn btn-md btn-success" href="index.php?r=football%2Fteam&team={{ team }}">Back to the Team</a>

{% set player = active_form_begin({
    'id' : 'form',
    'options' : {'class' : 'form-horizontal'},
}) %}
    {{ player.field(form, 'name').label('Player`s name') | raw }}
    {{ player.field(form, 'lastname').label('Player`s name') | raw }}
    {{ player.field(form, 'position').label('Player`s position') | raw }}
    {{ player.field(form, 'birth').label('Player`s birth (year)') | raw }}

    <div class="form-group">
        <input type="submit" value="Add player" class="btn btn-primary" />
    </div>
{{ active_form_end() }}
{% endblock content %}