{{ use('yii/widgets/ActiveForm') }}

{% block content %}

<h1>Edit player in {{ form.teamname }}</h1>
<a class="btn btn-md btn-success" href="index.php?r=football%2Fteam&team={{ form.teamname }}">Back to the Team</a>

{% set player = active_form_begin({
    'id' : 'form',
    'options' : {'class' : 'form-horizontal'},
}) %}
    {{ player.field(form, 'name').label('Player`s name') | raw }}
    {{ player.field(form, 'lastname').label('Player`s name') | raw }}
    {{ player.field(form, 'position').label('Player`s position') | raw }}
    {{ player.field(form, 'birth').label('Player`s birth (year)') | raw }}
    {{ player.field(form, 'teamname').hiddenInput().label(false) | raw }}
    {{ player.field(form, 'id').hiddenInput().label(false) | raw }}


    <div class="form-group">
        <input type="submit" value="Save changes" class="btn btn-primary" />
    </div>
{{ active_form_end() }}
{% endblock content %}