{{ use('yii/widgets/ActiveForm') }}

{% block content %}

<h1>Edit {{ form.teamname }}</h1>

<a class="btn btn-md btn-success" href="index.php?r=football">Back to the All Teams</a>

{% set team = active_form_begin({
    'id' : 'form',
    'options' : {'class' : 'form-horizontal'},
}) %}
    {{ team.field(form, 'teamname').label('Team`s name') | raw }}
    {{ team.field(form, 'teamyear').label('Teams birth year') | raw }}
    {{ team.field(form, 'teamid').hiddenInput().label(false) | raw }}

    <div class="form-group">
        <input type="submit" value="Save changes" class="btn btn-primary" />
    </div>
{{ active_form_end() }}
{% endblock content %}