{{ use('yii/widgets/LinkPager') }}

{% block content %}

<h1>Footbal teams:</h1>

<table>
    <thead>
        <th>id</th>
        <th>Name</th>
        <th>Year</th>
        <th colspan="2"><a class="btn btn-md btn-success" href="index.php?r=football%2Fadd-team">Add new Team</a></th>
    </thead>

    <tbody>
    {% for team in teams %}
        <tr>
            <td>
                {{ team.id }}
            </td>
            <td>
                <a href="index.php?r=football%2Fteam&team={{ team.name }}">
                    {{ team.name }}
                </a>
            </td>
            <td>
                {{ team.year }}
            </td>
            <td>
                <a href="index.php?r=football%2Fedit-team&teamid={{ team.id }}">Edit</a>
            </td>

            <td>
                <a href="index.php?r=football%2Fdel&id={{ team.id }}&table=Teams">Delete</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{# Render Link Pager #}    
    {{ link_pager_widget({
        'pagination': pagination
    }) }}

{% endblock content %}