{% block content %}
{% set n = 0 %}

<h1>{{ team }}</h1>

<a class="btn btn-md btn-success" href="index.php?r=football">Back to the All Teams</a>

<table>
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Birth</th>
        <th>Position</th>
        <th colspan="2"><a class="btn btn-md btn-success" href="index.php?r=football%2Fadd-player&team={{ team }}">Add new Player</a></th>
    </thead>

    <tbody>
    {% for player in players %}
        {% set n = n + 1 %}
        <tr>
            <td>
                {{ n }}
            </td>
            <td>
                {{ player.name }}
            </td>
            <td>
                {{ player.lastName }}
            </td>
            <td>
                {{ player.birth }}
            </td>
            <td>
                {{ player.position }}
            </td>
            <td>
                <a href="index.php?r=football%2Fedit-player&playerid={{ player.id }}">Edit</a>
            </td>
            <td>
                <a href="index.php?r=football%2Fdel&id={{ player.id }}&table=Players&team={{ team }}">Delete</a>
            </td>
        </tr>


    {% endfor %}

    </tbody>
</table>

{% endblock content %}