table, td, th{
    border: 1px solid grey;
}
table{
    width: 650px;
    font-size: 16pt;
}
thead{
    background-color: aquamarine;
}
td, th{
    text-align: center; 
}
tr:nth-child(2n){
    background-color: silver;
}